body {
  margin: 0;
  animation: 1.5s cubic-bezier(0.25, 1, 0.3, 1) circle-in-top-right both;
}
@keyframes circle-in-top-right {
  from {
    clip-path: circle(0% at top right);
    background-color: black;
  }
  to {
    clip-path: circle(150vmax at top right);
    background-color: #4c4f54;
  }
}

#mensaje-error p {
  color: black;
  font-size: clamp(0.7rem, 2vw, 0.8rem);
  text-align: center;
}

#modal-padre {
  display: none;
  justify-content: center;
}
#modal_back {
  z-index: 1;
  width: clamp(260px, 35%, 350px);
  height: auto;
  top: 5%;
  background-color: #291c0e;
  border-radius: 2em;
  transition: all 0.8s;
  position: absolute;
}
#modal {
  background-color: #c7b7a3;
  width: 99%;
  border-radius: 1em;
  height: 99%;
  top: 5%;
  border: solid black 2px;
}
#modal:hover {
  transform: scale(0.97);
  border-radius: 2em;
}
#modal:hover {
  box-shadow: 0px 0px 30px 1px #b0b6b6;
}
#btn-agregar {
  display: flex;
  justify-content: center;
}
#btn-agregar button {
  align-items: center;
  background-color: #a78d78;
  border: solid black 2px;
  color: black;
  border-radius: 2em;
  height: 40px;
  width: clamp(120px, 30%, 180px);
  margin-top: 20px;
  cursor: pointer;
  font-size: clamp(0.7rem, 2vw, 0.8rem);
  transition: 0.3s;
}
#btn-agregar button:hover {
  background-color: #ffffff;
  box-shadow: 0 0 0 5px #ffffff5f;
}
#tabla-datos {
  font-size: clamp(0.7rem, 2.5vw, 1rem);
  background: linear-gradient(to Bottom, #e1d4c2, #beb5a9);
}
#botones {
  text-align: center;
  vertical-align: middle;
}
#fecha {
  text-align: center;
}
.eliminar-btn {
  background-color: #6d2932;
  cursor: pointer;
  height: clamp(14px, 2.5vw, 26px);
  width: clamp(28px, 5vw, 40px);
}
.eliminar-btn:hover {
  box-shadow: 1px 1px 10px red;
}
.listo-btn {
  background-color: #6b9071;
  cursor: pointer;
  height: clamp(14px, 2.5vw, 26px);
  width: clamp(28px, 5vw, 40px);
}
.listo-btn:hover {
  box-shadow: 1px 1px 10px green;
}
#btn-modal {
  justify-content: center;
  width: 100%;
  display: flex;
  margin-bottom: 15px;
}
.btn-enviar {
  margin: 0 10px;
  background-color: antiquewhite;
  border: solid black 2px;
  color: rgb(0, 0, 0);
  border-radius: 2em;
  padding: 15px 15px;
  height: auto;
  width: auto;
  font-size: clamp(0.7rem, 2vw, 0.8rem);
  transition: 0.3s;
  cursor: pointer;
}
.btn-enviar:hover {
  background-color: var(--backColor);
  box-shadow: 0 0 0 5px #ffffff5f;
  color: white;
}
label {
  display: block;
  margin-bottom: clamp(0px, 0.5vw, 5px);
  font-size: clamp(0.8rem, 2vw, 1rem);
}
.form-group {
  text-align: center;
  margin: 1em 0;
}
h2 {
  border-bottom: 2px solid black;
  text-align: center;
  font-size: clamp(1rem, 2vw, 1.5em);
  padding-bottom: 10px;
}

input {
  padding-left: 10px;
  border-radius: 0.5em;

  width: 36%;
}
input:focus {
  outline: none;
  border: 3px solid #606d73;
  transform: scale(1.01);
  background-color: rgb(229, 227, 227);
}
#mensaje-eliminar {
  display: none;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: rgba(255, 0, 0, 0.81);
  height: clamp(30px, 7vw, 50px);
  width: 100%;
}
#mensaje-listo {
  display: none;
  align-items: center;
  color: rgb(0, 0, 0);
  background-color: rgb(51, 255, 0);
  height: clamp(30px, 7vw, 50px);
  width: 100%;
}
.mensaje {
  margin-left: 20px;
  font-size: clamp(0.7rem, 2vw, 0.9rem);
}
tr th {
  text-align: center;
  background-color: #a78d78;
}

table {
  margin-top: 2em !important;
  border-collapse: separate;
  margin: auto;
  border-spacing: 0;
  border-radius: 2em;
  background-color: #a78d78;
  border: solid 2px;
  position: relative;
  width: clamp(345px, 90%, 820px);
  overflow: hidden;
  table-layout: fixed;
  box-shadow: rgb(189, 242, 253) 0px 0px 50px -15px;
}
th,
td {
  text-align: left;
  padding: 8px;
  word-wrap: break-word;
  white-space: normal;
}
td {
  border: 1px solid white;
  padding-left: 10px;
}

thead tr th:first-child {
  border-top-left-radius: 2em;
}
thead tr th:last-child {
  border-top-right-radius: 2em;
}

tbody tr:last-child td:first-child {
  border-bottom-left-radius: 2em;
}
tbody tr:last-child td:last-child {
  border-bottom-right-radius: 2em;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
  table {
    border-radius: 1.5em;
  }
  th {
    font-size: x-small;
  }
  input {
    width: 32%;
  }
  th:nth-child(1),
  td:nth-child(1) {
    width: 27.5%;
  }

  th:nth-child(2),
  td:nth-child(2) {
    width: 25%;
  }

  th:nth-child(3),
  td:nth-child(3) {
    width: 27.5%;
  }

  th:nth-child(4),
  td:nth-child(4) {
    width: 20%;
  }
}
